<div class="container d-flex justify-content-center mt-5">
    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
        <input 
            name="userName"
            [(ngModel)]="model.userName"
            class="form-control me-2"
            type="text"
            placeholder="Username">
        <input 
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2"
            type="password"
            placeholder="Password">
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</div>
